/*Swiper CSS demo used as a base template
and then altered by me to fit website needs*/
.swiper1 {
    width: 25em;
    max-width: 25em;
    height: 400px;
    }
    .swiper-slide1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    margin-right: 3em;
    font-weight: bold;
    color: #fff;
    }
    .swiper-slide:nth-child(1n) {
    background-image: url('../media/images/slider1.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    }
    
    .swiper-slide:nth-child(2n) {
    background-image: url('../media/images/slider2.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    }
    
    .swiper-slide:nth-child(3n) {
    background-image: url('../media/images/slider3.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    }
    
    .swiper-slide:nth-child(4n) {
    background-image: url('../media/images/slider4.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    }
    
    .swiper-slide:nth-child(5n) {
    background-image: url('../media/images/slider5.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    }
    
    .swiper-slide:nth-child(6n) {
    background-image: url('../media/images/slider6.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    }
    
    .swiper-slide:nth-child(7n) {
    background-image: url('../media/images/slider7.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    }
    
    .swiper-slide:nth-child(8n) {
    background-image: url('../media/images/slider8.jpg');
    background-size: cover;
    background-position: center;
    border-radius: 18px;
    }
    /*Tablet Screen*/
    @media only screen and (max-width: 992px){
    .swiper{
        margin-top: 3em;
        width: 15em;
        height: 250px;
    }
    }
    /*Phone screen*/
    @media only screen and (max-width: 600px){
    .swiper{
        width: 12em;
        height: 250px;
    }
    }

    /*About section swiper*/
    .swiper2 {
        margin-left: auto;
        margin-right: auto;
        position: relative;
        overflow: hidden;
        list-style: none;
        padding: 0;
        z-index: 1;
        display: block;
        width: 100%;
        height: 100%;
    }
    .swiper-pagination2{
        position: absolute;
        text-align: center;
        transition: .3s opacity;
        transform: translate3d(0, 0, 0);
        z-index: 10;
    }
    .swiper-slide.two {
        text-align: center;
        font-size: 18px;
        background-color: var(--primary);
        color: var(--tertiary);
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 18em;
    }
    .swiper-slide.two:nth-child(1n) {
        background-image: url('../media/images/project1.png');
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
        
    .swiper-slide.two:nth-child(2n) {
        background-image: url('../media/images/project1.1.png');
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
        
    .swiper-slide.two:nth-child(3n) {
        background-image: url('../media/images/project1.2.png');
        background-size: cover;
        background-position: center;
        border-radius: 10px;
    }
    /*Tablet Screen*/
    @media only screen and (max-width: 992px){
        /**/
    }
    /*Phone screen*/
    @media only screen and (max-width: 600px){
    .swiper-slide.two{
        height: 13em;
        }
    }

    /*CITATIONS*/
        /*V Kharlampidi 'Swiper JS', 2019 [Source code]. 
        https://github.com/nolimits4web/swiper?tab=readme-ov-file*/